{% extends 'base.html.twig' %}

{% block title %}User settings{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <h1>Settings</h1>
        <div class="block-wrapper">
            <form action="">
                <div class="form-group">
                <label for="country">User hash</label>
                <label for="hash"></label>
                <input type="text" id="hash" name="hash" class="form-control" value="{{ user_hash }}" readonly>
            </div>
            </form>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label((form.send_notifications_at)) }}
                {{ form_widget(form.send_notifications_at, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row((form.notification_period_type), {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label((form.send_notifications)) }}
                {{ form_widget(form.send_notifications, {'attr': {'class': 'form-control check-box'}}) }}
            </div>
            <div class="form-group">
                {{ form_label((form.ifttt_endpoint)) }}
                {{ form_widget(form.ifttt_endpoint, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors((form.ifttt_endpoint)) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
