{% extends 'base.html.twig' %}

{% block title %}Planter: {{ planter.getName }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        airHumidityData = {{ airHumidityData|raw }}
        airTemperatureData = {{ airTemperatureData|raw }}
        waterLevelData = {{ waterLevelData|raw }}
        lightLevelData = {{ lightLevelData|raw }}
        soilMoistureData = {{ soilMoistureData|raw }}
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/graphs.js') }}"></script>
    <style>
        .graph{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="content-wrapper">
    <h1>Planter: <b>{{ planter.getName }}</b></h1>

        <div class="block-wrapper">
            <h2>water level</h2>
            <div id="ChartwaterLvl" class = "graph"></div>
            <h2 class="mt-5">soil moisture</h2>
            <div id="ChartsoilMoist" class = "graph"></div>
            <h2 class="mt-5">light</h2>
            <div id="ChartlightLvl" class = "graph"></div>
            <h2 class="mt-5">air humidity</h2>
            <div id="ChartAirHum" class = "graph"></div>
            <h2 class="mt-5">air temperature</h2>
            <div id="ChartAirTemp" class = "graph"></div>



            <a href="{{ path('planter_edit' , {planterId: planter.getId}) }}" class="btn btn-info btn-block mt-5">editovat</a>
            <a href="{{ path('pair')}}?id={{ planter.getId }}" class="btn btn-secondary btn-block btn-sm mt-2">pair</a>

        </div>


    </div>


{% endblock %}