{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            b = {{ data2|raw }}
            c = {{ data2|raw }}
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/graphs.js') }}"></script>
    <style>
        .graph{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <h1>Register</h1>

    {{ form_start(PlanterForm) }}
        {{ form_widget(PlanterForm.name) }}
        {{ form_widget(PlanterForm.plant_presets_id) }}
        {{ form_widget(PlanterForm.color) }}
        {{ form_widget(PlanterForm.save) }}
    {{ form_end(PlanterForm) }}

        <h1>My Web Page</h1>


        <div id="chart_div" class = "graph"></div>
        <div id="chart_div2" class = "graph"></div>

    </div>


{% endblock %}