{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        airHumidityData = {{ airHumidityData|raw }}
        airTemperatureData = {{ airTemperatureData|raw }}
        waterLevelData = {{ waterLevelData|raw }}
        lightLevelData = {{ lightLevelData|raw }}
        soilMoistureData = {{ soilMoistureData|raw }}
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/graphs.js') }}"></script>
    <style>
        .graph{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="content-wrapper">
    <h1>Planter: {{ planter.getName }}</h1>

        <h2>data</h2>

        <div class="block-wrapper">
            <h2>air humidity</h2>
            <div id="chart_div" class = "graph"></div>
            <h2 class="mt-5">air temperature</h2>
            <div id="chart_div2" class = "graph"></div>
            <h2 class="mt-5">water level</h2>
            <div id="chart_div3" class = "graph"></div>
            <h2 class="mt-5">light</h2>
            <div id="chart_div4" class = "graph"></div>
            <h2 class="mt-5">soil moisture</h2>
            <div id="chart_div5" class = "graph"></div>
        </div>

        <a href="{{ path('planter_edit' , {id: planter.getId}) }}"><button class="btn btn-info btn-block">editovat</button></a>

    </div>


{% endblock %}