{% extends 'base.html.twig' %}

{% block title %}Edit planter: {{ planterName }}{% endblock %}


{% block body %}

    <div class="content-wrapper">
        <h1>Edit planter: <b>{{ planterName }}</b></h1>
        <div class="block-wrapper">
            {{ form_start(planterForm) }}
            <div class="form-group">
                {{ form_label((planterForm.name)) }}
                {{ form_widget(planterForm.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(planterForm.name) }}
            </div>
            <div class="form-group">
                {{ form_label((planterForm.plant_presets_id)) }}
                {{ form_widget(planterForm.plant_presets_id, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label((planterForm.color)) }}
                {{ form_widget(planterForm.color, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(planterForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(planterForm.delete, {'attr': {'class': 'btn btn-danger' , 'onclick': 'return confirm("Are you sure?")'}}) }}
            {{ form_end(planterForm) }}
        </div>
    </div>


{% endblock %}