{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/grid-list.css') }}">
{% endblock %}

{% block title %}Planters{% endblock %}

{% block body %}
<div class="content-wrapper">

    <h1>Planters</h1>

    <div class="block-wrapper">


    <div class="row">
        {% for p in planters %}

            <div class="column {{ p.color }}">
                <div class="main">
                    <h2>{{ p.getName() }}</h2>
                    <p>plant: <i>{{ presets[p.getPlantPresetsId].name }}</i></p>
                </div>
                <div class="data right" style="">
                    <table style="border-collapse: separate; border-spacing: 5px;">

                        <tr class="spaceUnder">
                            {% if data[p.getId]["lowWater"] %}
                                <td><img width="30px" height="30px" src="{{ asset('assets/images/droplet_red.svg') }}" title="water level - LOW" alt="water"></td>
                            {% else %}
                                <td><img width="30px" height="30px" src="{{ asset('assets/images/droplet.svg') }}" title="water level" alt="water"></td>
                            {% endif %}
                            <td>{{ data[p.getId]["waterLevel"]}}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            {% if data[p.getId]["lowTemperature"] %}
                            <td><img width="30px" height="30px" src="{{ asset('assets/images/thermometer_red.svg') }}" title="temperature - LOW" alt="temp"></td>
                            {% else %}
                            <td><img width="30px" height="30px" src="{{ asset('assets/images/thermometer.svg') }}" title="temperature" alt="temp"></td>
                            {% endif %}
                            <td>{{ data[p.getId]["airTemperature"]}}</td>
                            <td>°C</td>
                        </tr>
                        <tr>
                            {% if data[p.getId]["lowLight"] %}
                                <td><img width="30px" height="30px" src="{{ asset('assets/images/sun_red.svg') }}" title="light - LOW" alt="light"></td>
                            {% else %}
                                <td><img width="30px" height="30px" src="{{ asset('assets/images/sun.svg') }}" title="light" alt="light"></td>
                            {% endif %}
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="buttons">
                    <a href="{{ path('planter_detail' , {planterId: p.id}) }}" class="btn btn-dark btn btn-48">detail</a>
                    <a href="{{ path('planter_edit' , {planterId: p.getId}) }}" class="btn btn-dark btn btn-48">edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
        <a href="{{ path('planter_new') }}" class="btn btn-primary btn-block">add new</a>
    </div>
    <script type="text/javascript" src="{{ asset('assets/js/grid-list.js') }}"></script>
</div>
{% endblock %}
