{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/grid-list.css') }}">
{% endblock %}

{% block title %}Hello PlanterController!{% endblock %}

{% block body %}
<div class="content-wrapper">

    <h1>Planters</h1>

    <div class="block-wrapper">
    <p>Click on a button to choose list view or grid view.</p>

    <div id="btnContainer">
        <button class="btn btn-custom" onclick="listView()"><i class="fa fa-bars"></i> List</button>
        <button class="btn btn-custom active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
    </div>
    <br>

    <div class="row">
        {% for p in planters %}
            <a class="no-styling" href="{{ path('planter_detail' , {id: p.id}) }}">
                <div class="column" style="background-color:{{ p.color }}; color: #111111;" >
                    <h2>{{ p.getName() }}</h2>
                    <p>{{ presets[p.getPlantPresetsId].name }}</p>
                    <a href="{{ path('planter_edit' , {id: p.getId}) }}"><button class="btn btn-info">editovat nastavení</button></a>
                </div>
            </a>
        {% endfor %}
    </div>
        <a href="{{ path('planter_new') }}" class="btn btn-primary btn-block">add new</a>
    </div>
    <script type="text/javascript" src="{{ asset('assets/js/grid-list.js') }}"></script>
</div>
{% endblock %}
