{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="content-wrapper">
        <h1>New Planter</h1>
        <div class="block-wrapper">
            {{ form_start(planterForm) }}
            <div class="form-group">
                {{ form_label((planterForm.name)) }}
                {{ form_widget(planterForm.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(planterForm.name) }}
            </div>
            <div class="form-group">
                {{ form_label((planterForm.plant_presets_id)) }}
                {{ form_widget(planterForm.plant_presets_id, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label((planterForm.color)) }}
                {{ form_widget(planterForm.color, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(planterForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(planterForm) }}
        </div>
    </div>

{% endblock %}