{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <h1>Register</h1>
        <div class="block-wrapper">
            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label((registrationForm.username)) }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <div class="form-group">
                {{ form_label((registrationForm.email)) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control text-lowercase'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_label((registrationForm.plainPassword)) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
