{% extends 'base.html.twig' %}

{% block title %}Hello SettingsPlantController!{% endblock %}

{% block body %}
<div class="content-wrapper text-center">
    <h1>plant presets</h1>
<div>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>name</th>
                <th>moisture</th>
                <th>temperature</th>
                <th>min light level</th>
                <th>light duration</th>
                <th>editace</th>
            </tr>
            </thead>
            <tbody>
            {% for c in settings %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.moisture }}</td>
                    <td>{{ c.temperature }}</td>
                    <td>{{ c.lightLevel }}</td>
                    <td>{{ c.lightDuration}} h</td>
                    <td><a class="btn btn-info btn-sm" href="{{ path('plant_presets_edit' , {id: c.id}) }}">edituj</a></td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <a class="btn btn-primary btn-table" href="{{ path('plant_presets_new') }}">add new</a>
    <div>
</div>
{% endblock %}
