<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/table.css') }}">
{#        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/form00.css') }}">#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <style>

        </style>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </head>
    <body>

    <div id="mySidenav" class="sidenav">
        {% if app.user %}
            <p> you're loged in as: {{ app.user.getUsername}} <br>
                <a href="{{ path('app_logout') }}">logout</a>
            </p>
        {% else %}
            <p> please <a href="{{ path('app_login') }}">login</a> or <a href="{{ path('app_register') }}">register</a></p>
        {% endif %}
        <a class="item closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
        <a class="item" href="{{ path('main') }}">main</a>
        <a class="item" href="{{ path('planter') }}">planters</a>
        <a class="item" href="{{ path('plant_presets') }}">plant settings</a>
        <a class="item" href="{{ path('user_settings') }}">settings</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>


    <div class="content">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
